{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce : {{ ad.title }} !{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />

{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="book-username">Réservez l'annonce de <em>{{ ad.author.fullName }}</em></h1>
        <h2 class="title-book">{{ ad.title }}</h2>
        <p style="text-align: center; margin-top: 1rem;">Vous êtes sur le point de réserver le bien de <strong>{{ ad.author.fullName }}</strong>
        , dites nous tout, on s'occupe du reste !</p>
        <div class="container-child cont-book">
            {{ form_start(form) }}
            <div class="alert alert-light">
                <h2>Commencez par nous dire quelles sont les dates qui vous intéressent !</h2>
                <div class="row-form">
                    <div class="col">
                        {{ form_row(form.startDate) }}
                    </div>
                    <div class="col">
                        {{form_row(form.endDate) }}
                    </div>
                </div>
                <div class="amount-days">
                    <h4 class="mt-2"><span id="amount">Montant du séjour : ... &euro;</span></h4>
                    <span id="days">0 nuit(s) à {{ ad.price | number_format(2, ',', ' ') }} &euro; par nuit</span>
                </div>
                <div class="comment">
                    <h4 class="review">Avez-vous avez un commentaire à nous faire part ?</h4>
                    {{ form_row(form.comment) }}
                </div>
            </div>
    
            <button type="submit" class="btn-book">Je réserve !</button>
    
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $('#booking_startDate, #booking_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                    "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date()
            });

            $('#booking_startDate, #booking_endDate').on('change', calculateAmount);
        })

        function calculateAmount(){
            // On récupère les dates
            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,
            '$3-$2-$1'));
            // 18/09/2018
            // (\d+)\/(\d+)\/(\d{4})
            // 2018-09-18
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,
                '$3-$2-$1'));

            if(startDate && endDate && startDate < endDate){
                const DAY_TIME = 24 * 60 * 60 * 1000;

                const interval = endDate.getTime() - startDate.getTime();
                const days = interval / DAY_TIME;
                const amount = days * {{ ad.price }};

                $('#days').text(days + ' nuit(s) à ' + {{ ad.price }} + ' € par nuit');
                $('#amount').text('Montant du séjour : ' + amount.toLocaleString('fr-FR') + ' €');

            }
        }

    </script>
{% endblock %}
