{% extends 'base.html.twig' %}

{% block title %}Réservation n°{{ booking.id }}
{% endblock %}

{% block body %}

	{% set ad = booking.ad %}
	{% set author = ad.author %}

	<div class="container">
		<h2 class="title-section">
			<span>Réservation(n°{{ booking.id }})</span>
		</h2>

		{% if app.request.query.get('withAlert') %}
			<div class="alert alert-success">
				<h4 class="alert-heading">Votre réservation à été validée !</h4>
				<p>
					N'hésitez pas à contacter
					<strong>
						<a href="{{ path("user_show", {'slug': author.slug}) }}">{{ author.fullName }}</a>
					</strong>
					pour obtenir des informations sur votre séjour.
				</p>
			</div>
		{% endif %}
		<div class="container-child">
			<div class="row">
				<div class="col">
					<div class="details">
						<div>
							<table class="styled-table">
								<tr>
									<td class="td-title">{{ ad.title }}</td>
									<td>
										<p>Note:{% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}</p>
									</td>
								</tr>
								<tr>
									<td class="libelle">Numéro</td>
									<td>{{ booking.id }}</td>
								</tr>
								<tr>
									<td class="libelle">Date d'arrivée</td>
									<td>{{ booking.startDate | date('d/m/Y') }}</td>
								</tr>
								<tr>
									<td class="libelle">Date de départ</td>
									<td>{{ booking.endDate | date('d/m/Y') }}</td>
								</tr>
								<tr>
									<td class="libelle">Nombre de nuits</td>
									<td>{{ booking.duration }}</td>
								</tr>
								<tr>
									<td class="libelle">Montant total</td>
									<td>{{ booking.amount | number_format(2, ',', ' ') }}
										&euro;</td>
								</tr>
								<tr class="active-row">
									<td class="libelle">Commentaire</td>
									<td>{{ booking.comment | default('Aucun commentaire') }}</td>
								</tr>
							</table>

						</div>
						<div class="host">
							<h2 class="alert-heading">Votre hôte</h2>

							<div class="row mb-3">
								<div class="col-3">
									<img src="{{ author.picture | escape }}" class="avatar" alt="Avatar de {{ author.fullName | escape }}">
								</div>
								<div class="col-9">
									<h4>
										<a href="{{ path('user_show', {'slug': author.slug | escape }) }}">
											{{ author.fullName | escape }}
										</a>
									</h4>
									<span class="badge badge-primary">{{ author.ads |length }}
										annonces</span>
								</div>
							</div>
							<div class="host-description">
								{{ author.description | raw }}
							</div>
							<a href="{{ path("user_show", {'slug': author.slug | escape}) }}" class="btn btn-primary">Plus d'info sur
								{{ author.firstName | escape }}</a>
							<div class="alert alert-light" id="comment">
								<h2 class="alert-heading">Votre avis compte !</h2>
								{% if date() > date(booking.endDate) %}
									{% set comment = booking.ad.commentFromAuthor(app.user) %}
									{% if comment is not null %}
										<blockquote>
											{{ comment.content | escape }}
										</blockquote>

										<strong>Note :
										</strong>
										{% include
                                        'partials/rating.html.twig' with {'rating': comment.rating} %}
									{% else %}


										{{ form_start(form) }}
										{{ form_widget(form) }}
										<button type="submit" class="btn btn-success">Confirmer !</button>
										{{ form_end(form) }}
									{% endif %}

								{% else %}
									<p>Vous ne pourrez pas noter cette anonnce tant que votre voyage ne sera pas complet !</p>

								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="accommodation">
						<h2 class="alert-heading">Votre hébergement</h2>

						<h4>
							<a href="{{ path('ads_show', {'slug': ad.slug | escape}) }}">{{ ad.title | escape }}</a>
						</h4>

						<img src="{{ ad.coverImage }}" alt="Image de {{ ad.title | escape }}" class="img-fluid">
						{{ ad.content | escape | raw }}

						<a href="{{ path('ads_show', {'slug': ad.slug | escape}) }}" class="btn btn-primary">Plus d'informations</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
