
{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartements en location
{% endblock %}

{% block header %}
    <h2>Voici le header</h2>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="header-home">
            <h1>Réservez Partez Profitez !</h1>
            <img src="{{asset('image/condominium.jpg')}}" alt="image appartement">      
            
        </div>
            <h2 class="title-section"><span>Nos appartements les plus réservés</span></h2>
        <div class="container-child">
            <div class="row-ads">
            {% for ad in bestAds %}
            {% set url = path('ads_show', {'slug': ad.slug}) %}
                <div class="card card-home-cont">
                    <div class="card-content card-home">
                        <div>
                            <img src="{{ad.cover_image}}" alt="Image de l'appartement" class="img-ad">
                        </div>
                        <div class="card-body home-card-body">
                            <h4 class="card-title">
                                <a href="{{ url }}" >{{ ad.title|slice(0, 18) }}...</a>
                            </h4>
                            <div class="rating-row-ads">
                                <div>Note : {% include 'partials/rating.html.twig' with {'rating' : ad.rating } %}</div>
                                <strong>{{ ad.price | number_format(2, ',', ' ') }}&euro; / nuit</strong>
                            </div>
                            <a href="ads/{{ad.slug}}" class="btn-book">En savoir plus</a>
                        </div>
                    </div>
                </div> 
            {% endfor %}
            </div>
            <div class="become-host">
                <div>
                    <h2>Je souhaites devenir hôte !</h2>
                    <p>Devenez hôte et postez votre annonce pour faire <br/> profiter de votre logement au monde entier</p>
                    <div>
                        <a href="{{ path('ads_create') }}">Poster une annonce</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}