{% set url = path('ads_show', {'slug': ad.slug}) %}


    <div class="card card-home-cont">
        <div class="card-content card-home">
        <div>
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement" class="img-ad">
        </div>
        
            <div class="card-body">
                <div>
                    <h4 class="card-title">
                        {{ ad.title|slice(0, 18) }}...
                    </h4>
                    <div class="rating-row-ads">
                        <div>
                            {{ ad.rooms }} chambres, <strong>{{ ad.price | number_format(2, ',', ' ')}}&euro; / nuit</strong><br>
                        </div>
                        {% if ad.comments|length > 0 %}
                            <p>Note:{% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}</p>
                        {% else %}
                            <small>Pas encore noté</small>
                        {% endif %}
                    </div>
                    

                    {% if app.user and app.user == ad.author %}
                        <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
                    {% endif %}

                    <a href="{{ url }}" class="show-more">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
